ErrorDocument 403 http://www.triggerandfreewheel.com/error/403
ErrorDocument 500 http://www.triggerandfreewheel.com/error/500

RedirectMatch 404 /\.git

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^apple-touch-icon(.*)\.png$ /static/apple-touch-icon.png [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L]
</IfModule>
